h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.flex {
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    column-gap: 2%;
    width: 100%;
    align-items: center;
    text-align: center;
}