html {
    background-color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

head {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    align-self: center;
}

h1 { 
    text-align: center;
    align-self: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
body {
    align-items: center;
}

div {
    display: inline-block;
    row-gap: 10px;
    column-gap: 10px;
}

.blocks {
    row-gap: 10px;
    column-gap: 10px;
    display: inline-flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: stretch;
    font-size: large;
    background-color: lightblue;
    border: 10px solid black;
}

.internal {
    width:max-content;
    box-sizing: border-box;
    width: auto;
    align-self: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    display: inline-flex;
    flex-direction: column;
    font-size: large;
}

a:hover{background:lightseagreen;}

.buttonmain {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: red;
    background-color: white;
    text-align: center;
    width: 100%;
}

.buttonnoborder {
    border-bottom: 0;
    padding-bottom: 5px;
}

.buttonborder {
    border-bottom: 5px solid red;
}

.hide {
    display: none;
}

.michael {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width : 1200px) {

    .lapper {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        column-gap: 10px;
        row-gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
    }

    .blocks {
        width: 100%;
    }

    .navmain {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}

@media screen and (min-width : 1200px) and (max-width : 99999px) {
    #navmain {
        display: flex;
        justify-content: center;
        
    }
    .blocks {
        width: 100%;
    }

    .lapper {
        display: inline-flex;
        flex-direction: row;
        row-gap: 10px;
        column-gap: 10px;
        align-items: center;
        align-self: center;
        flex-wrap: wrap;
    }

    .navmain {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    
}