head {
    font-family: Arial, Helvetica, sans-serif;
}

/* Tables */
td {
    border: 1px; 
}

/* Fonts */
body {
    background-color: #042069; /*It's unironically my favorite shade of blue. Sorry...*/
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: red;
    color:yellow;
    size: 40;
}

