html {
    background-color: #042069;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

head {
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

h2 {
    text-align: center;
}

@media screen and (max-width : 720px) {
}

@media screen and (min-width : 720px) and (max-width : 99999px) {
    #navmain {
        display: flex;
        justify-content: center;
    
    }
    
}
